.catalog__content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $card-width);
  gap: $vertical-cards-gap $horizontal-cards-gap;

  max-width: $catalog-width;
  margin: 0 auto;
}
