$nav-height: 60px;
$card-width: 200px;
$page-content-margin-bottom: 50px;
$horizontal-cards-gap: 48px;
$vertical-cards-gap: 50px;
$catalog-width: $card-width * 4 + $horizontal-cards-gap * 3;

$page-content-font: "Roboto", "Arial", "Helvetica", sans-serif;
$card-font-size: 11px;
$color-blue: #00acdc;
$color-white: #fff;
$border-color: #f3f3f3;

$animation-time: 400ms;
